replicaCount: 2
maxUnavailable: 1

enabled: true

strategy: RollingUpdate

image:
  repository: muehlhansfl/payments
  tag: 0f5c107b-d194-430f-bdc9-1882d020d94a
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 50m
    memory: 300Mi
  limits:
    memory: 1Gi
serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /migrationdone
    port: api
  initialDelaySeconds: 30
  periodSeconds: 3

envVars:
  - name: JAEGER_AGENT_HOST
    valueFrom:
      fieldRef:
        fieldPath: status.hostIP

  - name: OTEL_EXPORTER_JAEGER_AGENT_HOST
    valueFrom:
      fieldRef:
        fieldPath: status.hostIP


payments:
  - name: ane-payments
    envVars:
      - name: lemonsqueezy__API_KEY
        valueFrom:
          secretKeyRef:
            name: ane-secret
            key: lemonsqueezy_api_key

      - name: lemonsqueezy__SECRET
        valueFrom:
          secretKeyRef:
            name: ane-secret
            key: lemonsqueezy_secret
      - name: lemonsqueezy__STORE_ID
        value: "174444"
      - name: lemonsqueezy__SUBSCRIPTION_VARIANT_ID
        value: "805091"
      - name: DB_CONNECTION
        valueFrom:
          secretKeyRef:
            name: ane-secret
            key: connection_string_payment
      - name: KAFKA__BROKERS
        valueFrom:
          secretKeyRef:
            name: redpanda
            key: brokers

      - name: KAFKA__USERNAME
        valueFrom:
          secretKeyRef:
            name: redpanda-credentials
            key: ane_username

      - name: KAFKA__PASSWORD
        valueFrom:
          secretKeyRef:
            name: redpanda-credentials
            key: ane_password

      - name: KAFKA__TLS__CA_LOCATION
        value: "/tls/cm/ca.crt"

      - name: KAFKA__TLS__CERTIFICATE_LOCATION
        value: "/tls/cm/skyblock.crt"

      - name: KAFKA__TLS__KEY_LOCATION
        value: "/tls/secret/skyblock.key"

      - name: KAFKA__REPLICATION_FACTOR
        value: "3"
      - name: KAFKA__TRANSACTION_TOPIC__NAME
        value: "ane-transactions"
      - name: KAFKA__PAYMENT_TOPIC__NAME
        value: "ane-payments"

    volumes:
      - name: redpanda
        mountPath: /tls/secret
        type: secret
        mountName: redpanda-secret
      - name: redpanda
        mountPath: /tls/cm
        type: configmap
        mountName: redpanda-cm

    ingress:
      enabled: true
      nginx: true
      hosts:
      - host: ane.coflnet.com
        http:
          paths:
          - path: /callback/lemonsqueezy
            pathType: ImplementationSpecific
            backend:
              service:
                name: ane-payments
                port:
                  number: 8000
  - name: dash-payments
    envVars:
      - name: lemonsqueezy__API_KEY
        valueFrom:
          secretKeyRef:
            name: mds-secret
            key: lemonsqueezy_api_key

      - name: lemonsqueezy__SECRET
        valueFrom:
          secretKeyRef:
            name: mds-secret
            key: lemonsqueezy_secret
      - name: lemonsqueezy__STORE_ID
        value: "162363"
      - name: lemonsqueezy__SUBSCRIPTION_VARIANT_ID
        value: "726701"
      - name: DB_CONNECTION
        valueFrom:
          secretKeyRef:
            name: dash-secret
            key: connection_string_payment
    ingress:
      enabled: true
      nginx: true
      hosts:
      - host: dash.coflnet.com
        http:
          paths:
          - path: /callback/lemonsqueezy
            pathType: ImplementationSpecific
            backend:
              service:
                name: dash-payments
                port:
                  number: 8000
  - name: tab-payments
    envVars:
      - name: DB_CONNECTION
        valueFrom:
          secretKeyRef:
            name: tab-secret
            key: connection_string_payment
    ingress:
      enabled: true
      nginx: true
      hosts:
      - host: tab.coflnet.com
        http:
          paths:
          - path: /callback/lemonsqueezy
            pathType: ImplementationSpecific
            backend:
              service:
                name: tab-payments
                port:
                  number: 8000

  - name: mds-payments
    envVars:
      - name: lemonsqueezy__API_KEY
        valueFrom:
          secretKeyRef:
            name: mds-secret
            key: lemonsqueezy_api_key

      - name: lemonsqueezy__SECRET
        valueFrom:
          secretKeyRef:
            name: mds-secret
            key: lemonsqueezy_secret
      - name: lemonsqueezy__STORE_ID
        value: "76428"
      - name: lemonsqueezy__VARIANT_ID
        value: "308547"
      - name: DB_CONNECTION
        valueFrom:
          secretKeyRef:
            name: mds-secret
            key: connection_string_payment
    ingress:
      enabled: true
      nginx: true
      hosts:
      - host: mds.coflnet.com
        http:
          paths:
          - path: /callback/lemonsqueezy
            pathType: ImplementationSpecific
            backend:
              service:
                name: mds-payments
                port:
                  number: 8000

  - name: sky-payments
    envVars:
      - name: STRIPE__ID
        valueFrom:
          secretKeyRef:
            name: secret
            key: stripe_secret

      - name: STRIPE__KEY
        valueFrom:
          secretKeyRef:
            name: secret
            key: stripe_key

      - name: STRIPE__SIGNING_SECRET
        valueFrom:
          secretKeyRef:
            name: secret
            key: stripe_signing_secret

      - name: PAYPAL__ID
        valueFrom:
          secretKeyRef:
            name: secret
            key: paypal_id

      - name: PAYPAL__SECRET
        valueFrom:
          secretKeyRef:
            name: secret
            key: paypal_secret

      - name: PAYPAL__IS_SANDBOX
        value: "false"

      - name: LEMONSQUEEZY__API_KEY
        valueFrom:
          secretKeyRef:
            name: secret
            key: lemonsqueezy_api_key

      - name: LEMONSQUEEZY__SECRET
        valueFrom:
          secretKeyRef:
            name: secret
            key: lemonsqueezy_secret

      - name: KAFKA_HOST
        value: k8-main-kafka-kafka.kafka.svc.cluster.local
      - name: OLD_DB_CONNECTION
        valueFrom:
          secretKeyRef:
            name: secret
            key: connection_string_payment
      - name: DB_CONNECTION
        valueFrom:
          secretKeyRef:
            name: secret
            key: cockroach_connection_payment
      - name: KAFKA__BROKERS
        valueFrom:
          secretKeyRef:
            name: redpanda
            key: brokers

      - name: KAFKA__USERNAME
        valueFrom:
          secretKeyRef:
            name: redpanda-credentials
            key: username

      - name: KAFKA__PASSWORD
        valueFrom:
          secretKeyRef:
            name: redpanda-credentials
            key: password

      - name: KAFKA__TLS__CA_LOCATION
        value: "/tls/cm/ca.crt"

      - name: KAFKA__TLS__CERTIFICATE_LOCATION
        value: "/tls/cm/skyblock.crt"

      - name: KAFKA__TLS__KEY_LOCATION
        value: "/tls/secret/skyblock.key"

      - name: KAFKA__REPLICATION_FACTOR
        value: "3"
      - name: GOOGLEPAY__ServiceAccountKeyFile
        value: /config/google/credentials.json
      - name: lemonsqueezy__SUBSCRIPTION_VARIANT_ID
        value: "502893"

    volumes:
      - name: redpanda
        mountPath: /tls/secret
        type: secret
        mountName: redpanda-secret
      - name: redpanda
        mountPath: /tls/cm
        type: configmap
        mountName: redpanda-cm
      - name: gcp-secret
        type: secret
        mountPath: /config/google
        mountName: google-credentials

    ingress:
      enabled: true
      nginx: true
      hosts:
      - host: sky.coflnet.com
        http:
          paths:
          - path: /callback/stripe
            pathType: ImplementationSpecific
            backend:
              service:
                name: sky-payments
                port:
                  number: 8000
          - path: /callback/paypal
            pathType: ImplementationSpecific
            backend:
              service:
                name: sky-payments
                port:
                  number: 8000
          - path: /callback/lemonsqueezy
            pathType: ImplementationSpecific
            backend:
              service:
                name: sky-payments
                port:
                  number: 8000
          - path: /callback/googlepay
            pathType: ImplementationSpecific
            backend:
              service:
                name: sky-payments
                port:
                  number: 8000
      - host: skyblock-backend.coflnet.com
        http:
          paths:
          - path: /callback/stripe
            pathType: ImplementationSpecific
            backend:
              service:
                name: sky-payments
                port:
                  number: 8000
          - path: /callback/paypal
            pathType: ImplementationSpecific
            backend:
              service:
                name: sky-payments
                port:
                  number: 8000
