enabled: true
replicaCount: 7

image:
  repository: muehlhansfl/skycommands
  tag: a99bcc58-6db7-4a28-bb0f-d082ed992785
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

imgproxy:
  replicaCount: 1

ports:
  - name: websocket
    containerPort: 8000
  - name: api
    containerPort: 8008

resources:
  requests:
    memory: 1Gi
    cpu: 500m
  limits:
    memory: 3Gi
    cpu: 1200m

services:
  - sky-commands
  - sky-commands-canary-service
  - sky-commands-stable-service

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000
  - name: websocket
    port: 8008
    targetPort: 8008

template: &canaryTemplate sky-commands
canaryService: &canaryService sky-commands-canary-service
stableService: &stableService sky-commands-stable-service
mainService: &mainService sky-commands
trafficSplit: &trafficSplit sky-commands
canary:
  steps:
    - setWeight: 10
    - pause:
        duration: 3m
    - analysis:
        templates:
          - templateName: *canaryTemplate
        args:
          - name: service-name
            value: *canaryService
    - setWeight: 50
    - pause:
        duration: 5m
    - analysis:
        templates:
          - templateName: *canaryTemplate
        args:
          - name: service-name
            value: *canaryService
    - setWeight: 100
    - pause:
        duration: 5m
    - analysis:
        templates:
          - templateName: *canaryTemplate
        args:
          - name: service-name
            value: *canaryService
  maxUnavailable: 1
  canaryService: *canaryService
  stableService: *stableService
  trafficRouting:
    smi:
      rootService: *mainService
      trafficSplitName: *trafficSplit

readinessProbe:
  httpGet:
    path: /metrics
    port: 8000
  initialDelaySeconds: 20
  periodSeconds: 3

livenessProbe:
  httpGet:
    path: /metrics
    port: 8000
  initialDelaySeconds: 30
  failureThreshold: 10
  periodSeconds: 10
envVars: []
