replicaCount: 3

image:
  repository: harbor.flou.dev/coflnet/skyitems
  tag: 790da8df-2fb5-47c8-bb6e-915102916de6
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources: 
  requests:
    cpu: 200m
    memory: 200Mi
  limits: 
    cpu: 500m
    memory: 512Mi


serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /api/index.html
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars: 
  - name: DBCONNECTION
    valueFrom:
      secretKeyRef:
        name: secret
        key: connection_read_secondary
  - name: DB_CONNECTION
    valueFrom:
      secretKeyRef:
        name: secret
        key: connection_items_database
