enabled: true
replicaCount: 3

image:
  repository: muehlhansfl/skyitems
  tag: 8275e603-059a-4fd3-b180-2680b55bf5db
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 200m
    memory: 512Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /api/index.html
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars:
  - name: DBCONNECTION
    valueFrom:
      secretKeyRef:
        name: secret
        key: connection_read_secondary
  - name: DB_CONNECTION
    valueFrom:
      secretKeyRef:
        name: secret
        key: connection_items_database
