enabled: true
replicaCount: 1

image:
  repository: muehlhansfl/skyitems
  tag: dca0876b-cfe8-4277-b62d-e39430ecd3cc
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 200m
    memory: 512Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /api/index.html
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3
livenessProbe:
  httpGet:
    path: /api/index.html
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3
  failureThreshold: 5

envVars:
  - name: DBCONNECTION
    valueFrom:
      secretKeyRef:
        name: secret
        key: connection_read_secondary
  - name: DB_CONNECTION
    valueFrom:
      secretKeyRef:
        name: secret
        key: connection_items_database
