replicaCount: 1
strategy: RollingUpdate

image:
  repository: muehlhansfl/tfmpythonbackend
  tag: 0fddbbe8-e5e6-446a-9aa2-ee4cb434aed3
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 7321

resources:
  requests:
    cpu: 50m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 2Gi

serivcePorts:
  - name: api
    port: 7321
    targetPort: 7321

envVars:
  - name: MONGO_HOST
    valueFrom:
      secretKeyRef:
        name: secret
        key: mongo_host

ingress:
  host: sky.coflnet.com
  path: /tfm/backend
  port: 7321
