enabled: true
replicaCount: 2

strategy: RollingUpdate
image:
  repository: muehlhansfl/skybazaarflipper
  tag: 6edf4e58-0420-4b30-9c83-f88dc8fe5dcd
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 50m
    memory: 350Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /ready
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

