enabled: true
replicaCount: 2

strategy: RollingUpdate
image:
  repository: muehlhansfl/skybazaarflipper
  tag: 8b3c6994-c95f-4dba-80b1-d6e6dc059a39
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 50m
    memory: 350Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /ready
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

