enabled: true
replicaCount: 2

strategy: RollingUpdate
image:
  repository: muehlhansfl/skybazaarflipper
  tag: 4446b392-0484-4267-9c83-addb27f84282
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 50m
    memory: 350Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /ready
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

