enabled: true
replicaCount: 2

strategy: RollingUpdate
image:
  repository: muehlhansfl/skybazaarflipper
  tag: cce8ca54-8909-42b1-94bb-9b775a9629d5
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 50m
    memory: 350Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /ready
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

