enabled: true
replicaCount: 2

strategy: RollingUpdate
image:
  repository: muehlhansfl/skybazaarflipper
  tag: 27ae5de3-f960-4ada-b17c-8f1c17fb4151
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 50m
    memory: 150Mi
  limits:
    cpu: 100m
    memory: 400Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /metrics
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

