{{ if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: "{{ .Chart.Name }}"
  labels:
    app: "{{ .Chart.Name }}"
    "mirror.linkerd.io/exported": "true"
spec:
  selector:
    app: "{{ .Chart.Name }}-worker"
  ports:
    {{ toYaml .Values.serivcePorts | nindent 4 }}
---
{{ end }}
