{{ if .Values.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Chart.Name }}-worker"
  labels:
    app: "{{ .Chart.Name }}-worker"
spec:
  replicas: {{ .Values.worker.replicaCount }}
  strategy: 
    type: {{ .Values.worker.strategy }}
  progressDeadlineSeconds: 2592000
  selector:
    matchLabels:
      app: "{{ .Chart.Name }}-worker"
  template:
    metadata:
      labels:
        app: "{{ .Chart.Name }}-worker"
    spec:
      imagePullSecrets:
      {{ toYaml .Values.global.imagePullSecrets | nindent 8 }}
      containers:
      - name: "{{ .Chart.Name }}"
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag  }}"
        ports:
           {{ toYaml .Values.ports | nindent 10 }}
        env:
          - name: REDIS_HOST
            value: "{{ .Chart.Name }}-redis,syncTimeout=200"
          - name: IS_MANAGER
            value: "false"
          {{ if .Values.envVars }}
          {{ toYaml .Values.envVars | nindent 10 }}
          {{ end }}
          {{ toYaml .Values.global.envVars | nindent 10 }}
          {{ toYaml .Values.global.minioEnvVars | nindent 10 }}
        readinessProbe:
          {{ toYaml .Values.readinessProbe | nindent 10 }}
        resources:
          {{ toYaml .Values.resources | nindent 10 }}
        volumeMounts:
        {{ range .Values.global.volumes }}
        - name: {{ .mountName }}
          mountPath: {{ .mountPath }}
        {{ end }}
      volumes: 
      {{ range .Values.global.volumes }}
        - name: {{ .mountName }}
          {{ if eq .type "configmap"  }}
          configMap:
            name: {{ .name }}
          {{ else}}
          secret:
            secretName: {{ .name }}
          {{ end }}
      {{ end }}
{{ end }}
