enabled: true
replicaCount: 1

strategy: Recreate

image:
  repository: muehlhansfl/skysubscriptions
  tag: b2f0aebe-d793-4334-8cfb-40b9d7aeaff6
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 150m
    memory: 400Mi
  limits:
    cpu: 600m
    memory: 1024Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /api/index.html
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars:
  - name: DB_CONNECTION
    valueFrom:
      secretKeyRef:
        name: secret
        key: connection_micro_subscriptions
  - name: DBConnection
    valueFrom:
      secretKeyRef:
        name: secret
        key: connection_read_secondary
  - name: FIREBASE_SENDER_ID
    valueFrom:
      secretKeyRef:
        name: secret
        key: firebase_sender_id
  - name: FIREBASE_KEY
    valueFrom:
      secretKeyRef:
        name: secret
        key: firebase_key
