enabled: true
replicaCount: 1

strategy: Recreate

image:
  repository: muehlhansfl/skysubscriptions
  tag: 4f0e0d8c-ad1c-4f7d-9f01-b0a727016d3a
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 120m
    memory: 500Mi
  limits:
    cpu: 600m
    memory: 1024Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /api/index.html
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars:
  - name: DB_CONNECTION
    valueFrom:
      secretKeyRef:
        name: secret
        key: connection_micro_subscriptions
  - name: DBConnection
    valueFrom:
      secretKeyRef:
        name: secret
        key: connection_read_secondary
  - name: FIREBASE_SENDER_ID
    valueFrom:
      secretKeyRef:
        name: secret
        key: firebase_sender_id
  - name: FIREBASE_KEY
    valueFrom:
      secretKeyRef:
        name: secret
        key: firebase_key
