replicaCount: 0
strategy: RollingUpdate

image:
  repository: muehlhansfl/tfmbackend
  tag: ac2f9f63-66c9-4a67-951e-1b0b052f4440
  pullPolicy: IfNotPresent

ports:
  - name: metrics
    containerPort: 1234

resources: 
  requests:
    cpu: 1000m
    memory: 1Gi
  limits:
    cpu: 3000m
    memory: 2Gi


serivcePorts:
  - name: metrics
    port: 1234
    targetPort: 1234

envVars: 
  - name: MONGO_HOST
    valueFrom:
      secretKeyRef:
        name: secret
        key: mongo_host
  - name: REDIS_URL
    value: "sky-bfcs-redis.sky:6379"


