apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Chart.Name }}
  labels:
    app: {{ .Chart.Name }}
spec:
  schedule: "0 0 * * TUE"
  jobTemplate:
    spec:
      template:
        spec:
          imagePullSecrets:
          {{ toYaml .Values.global.imagePullSecrets | nindent 12 }}
          containers:
            - name: {{ .Chart.Name }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag  }}"
              imagePullPolicy: Always
              env:
                - name: GIT_USERNAME
                  valueFrom:
                    configMapKeyRef:
                      key: git_username
                      name: config
                - name: GIT_TOKEN
                  valueFrom:
                    secretKeyRef:
                      key: git_token
                      name: secret
                - name: GIT_ORGANIZATION
                  valueFrom:
                    configMapKeyRef:
                      key: git_organization
                      name: config
                - name: GIT_HEAD
                  valueFrom:
                    configMapKeyRef:
                      key: git_head
                      name: config
                - name: GIT_REPO
                  valueFrom:
                    configMapKeyRef:
                      key: git_repo
                      name: config
          restartPolicy: Never
