replicaCount: 2

strategy: RollingUpdate

imagePullSecrets: 
  - name: harbor
image:
  repository: muehlhansfl/feedback
  tag: 224ecc25-7e6b-47ed-8ad3-18f587c97c25
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 3000
  - name: metrics
    containerPort: 2112

resources: 
  requests:
    cpu: 200m
    memory: 200Mi
  limits: 
    cpu: 500m
    memory: 512Mi


serivcePorts:
  - name: api
    port: 3000
    targetPort: 3000
  - name: metrics
    port: 2112
    targetPort: 2112

readinessProbe:
  httpGet:
    path: /metrics
    port: metrics
  initialDelaySeconds: 20
  periodSeconds: 3

envVars: 
  - name: MONGO_HOST
    valueFrom:
      secretKeyRef:
        name: secret
        key: mongo_host
  - name: KAFKA_HOST
    value: k8-main-kafka-kafka.kafka.svc.cluster.local
  - name: DISCORD_MESSAGES_TOPIC
    value: discord-messages
  - name: DISCORD_BOT_BASE_URL
    value: http://coflnet-bot.discord:8080
