replicaCount: 1

strategy: RollingUpdate

imagePullSecrets: 
  - name: regcred
image:
  repository: muehlhansfl/skycrypt
  tag: aug-02
  pullPolicy: IfNotPresent

ports:
  - name: web
    containerPort: 32464

resources: 
  requests:
    cpu: 200m
    memory: 800Mi
  limits:
    cpu: 3000m
    memory: 2Gi


serivcePorts:
  - name: web
    port: 80
    targetPort: 32464

startupProbe:
  httpGet:
      path: /stats/Flou21/Zucchini
      port: 32464
  initialDelaySeconds: 10
  periodSeconds: 30
  timeoutSeconds: 3
  failureThreshold: 20
  successThreshold: 1

readinessProbe:
  httpGet:
      path: /stats/Flou21/Zucchini
      port: 32464
  initialDelaySeconds: 30
  periodSeconds: 30
  timeoutSeconds: 3
  failureThreshold: 3

envVars: 
  - name: NODE_ENV
    value: production
  - name: HYPIXEL_API_KEY
    valueFrom:
      secretKeyRef:
        name: skycrypt-secret
        key: hypixel_api_key
  - name: DB_URL
    valueFrom:
      secretKeyRef:
        name: skycrypt-secret
        key: db_url
  - name: REDIS_URL
    value: redis://redis:6379
