apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: {{ .Chart.Name }}
  labels:
    app: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      imagePullSecrets:
      {{ toYaml .Values.global.imagePullSecrets | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag  }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          {{ toYaml .Values.envVars | nindent 12 }}
          ports:
          {{ toYaml .Values.ports | nindent 12 }}
          readinessProbe:
          {{ toYaml .Values.readinessProbe | nindent 12 }}
          resources:
          {{ toYaml .Values.resources | nindent 12 }}
  strategy:
    blueGreen:
      activeService: {{ .Chart.Name }}
      previewService: {{ .Chart.Name }}-preview
      autoPromotionEnabled: false
      scaleDownDelaySeconds: 120
      previewReplicaCount: 1
