{{ if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}-preview
spec:
  selector:
    app: {{ .Chart.Name }}
  ports:
    - port: 80
      targetPort: 3000
{{ end }}
