enabled: true

replicaCount: 4
revisionHistoryLimit: 5

image:
  repository: muehlhansfl/hypixel-react
  tag: ba170577-130f-4b75-847a-458812a12563
  pullPolicy: IfNotPresent

ports:
  - name: web
    containerPort: 3000

resources:
  requests:
    cpu: 250m
    memory: 400Mi

serivcePorts:
  - name: web
    port: 3000
    targetPort: 3000

readinessProbe:
  httpGet:
    path: /
    port: web
  initialDelaySeconds: 10
  periodSeconds: 10
  failureThreshold: 6
  timeoutSeconds: 5

envVars:
  - name: COMMAND_ENDPOINT
    valueFrom:
      configMapKeyRef:
        name: config
        key: frontend_command_endpoint
  - name: API_ENDPOINT
    valueFrom:
      configMapKeyRef:
        name: config
        key: frontend_api_endpoint
