enabled: true

replicaCount: 4
revisionHistoryLimit: 5

image:
  repository: muehlhansfl/hypixel-react
  tag: f550c290-d96d-411f-9bf7-eeed7cde79d1
  pullPolicy: IfNotPresent

ports:
  - name: web
    containerPort: 3000

resources:
  requests:
    cpu: 250m
    memory: 400Mi

serivcePorts:
  - name: web
    port: 3000
    targetPort: 3000

readinessProbe:
  httpGet:
    path: /
    port: web
  initialDelaySeconds: 10
  periodSeconds: 10
  failureThreshold: 6
  timeoutSeconds: 5

envVars:
  - name: COMMAND_ENDPOINT
    valueFrom:
      configMapKeyRef:
        name: config
        key: frontend_command_endpoint
  - name: API_ENDPOINT
    valueFrom:
      configMapKeyRef:
        name: config
        key: frontend_api_endpoint

ingress:
  enabled: false
  nginx: true
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
