enabled: true
replicaCount: 1

strategy: RollingUpdate

image:
  repository: muehlhansfl/sky-controller
  tag: cf52c7c6-de8f-41a3-98d6-7658e406fc1b
  pullPolicy: IfNotPresent

ports:
  - name: metrics
    containerPort: 2112

resources:
  requests:
    cpu: 50m
    memory: 200Mi
  limits:
    cpu: 200m
    memory: 512Mi

serivcePorts:
  - name: metrics
    port: 2112
    targetPort: 2112

envVars:
  - name: OTEL_SERVICE_NAME
    value: sky-controller
  - name: CLUSTER_DISPLAY_NAME
    value: global.fleet.clusterLabels.management.cattle.io/cluster-display-name
