global:
  imagePullSecrets:
    - name: regcred

  redis:
    enabled: false

  secret:
    enabled: false

  config:
    enabled: false

  podAnnotations:
    config.linkerd.io/skip-outbound-ports: "3307,3304,3310,9042,9092"

deprecated:
  enabled: false

edge-redis:
  enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 128Mi
    limits:
      cpu: 50m
      memory: 128Mi

hypixel-react:
  enabled: false

sky-api:
  enabled: false

sky-bazaar:
  enabled: false

sky-bfcs:
  enabled: true
  strategy: Recreate
  redis:
    enabled: false
  resources:
    requests:
      memory: 3Gi
    limits:
      memory: 4Gi

  defaultEnvVarsEnabled: false
  ingress:
    enabled: true
    host: sky-us-edge-1.coflnet.com
  envVars:
      ## common jaeger env vars ##
    - name: OTEL_EXPORTER_OTLP_TRACES_ENDPOINT
      value: "http://jaeger-collector-eu-cluster.observability:4317"
    - name: SNIPER_BASE_URL
      value: http://sky-sniper-eu-cluster:8000
    - name: SNIPER_TRANSFER_TOKEN
      valueFrom:
        secretKeyRef:
          name: sniper
          key: transfer_token
    - name: FLIP_REDIS_OPTIONS
      valueFrom:
        secretKeyRef:
          name: flip-redis
          key: options
    - name: REDIS_FLIP_INSTANCES__0
      valueFrom:
        secretKeyRef:
          name: redis-edge
          key: linode_us_connection

sky-chat:
  enabled: false

sky-commands:
  enabled: false

sky-controller:
  enabled: false

sky-crafts:
  enabled: false

sky-event-broker:
  enabled: false

sky-filter:
  enabled: false

sky-flip-tracker:
  enabled: false

sky-flipper:
  enabled: false

sky-indexer:
  enabled: false

sky-items:
  enabled: false

sky-mayor:
  enabled: false

sky-mc-connect:
  enabled: false

sky-mod-commands:
  enabled: false

sky-operator:
  enabled: false

sky-player-name:
  enabled: false

sky-player-state:
  enabled: false

sky-profiles:
  enabled: false

sky-proxy:
  enabled: false

sky-referral:
  enabled: false

sky-settings:
  enabled: false

sky-sniper:
  enabled: false

sky-subscriptions:
  enabled: false

sky-updater:
  enabled: false

sky-trade:
  enabled: false

sky-auctions:
  enabled: false

sky-bazaar-flipper:
  enabled: false
