global:
  imagePullSecrets: 
  - name: harbor

  ## Hetzner CPU Affinity
  hetznerAffinity:
    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: hetzner
                operator: In
                values:
                - "true"


  ## Configuration of the global Redis instance ##
  redis: 
    name: sky-global-redis
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits: 
        cpu: 300m
        memory: 1Gi


  ## The Services Api, Command and Mod are the frontend Services, they share some env vars ##
  frontendEnvVars:
    ## database connection to the secondary servers as readonly ##
    - name: DBConnection
      valueFrom:
        secretKeyRef:
          key: connection_read_api
          name: secret
    - name: EVENTS_REDIS_HOST
      value: sky-event-broker-redis


  ## minio connection ##
  minioEnvVars:
  - name: MINIO_HOST
    valueFrom:
      configMapKeyRef:
        key: host
        name: minio
  - name: MINIO_SECRET
    valueFrom:
      secretKeyRef:
        key: secret_key
        name: minio
  - name: MINIO_KEY
    valueFrom:
      secretKeyRef:
        key: access_key
        name: minio
    
  ### standard kafka topics ###
  kafkaTopics:
  - name: TOPICS__AH_SUMARY
    value: sky-ah-summary
  - name: TOPICS__AUCTION_ENDED
    value: sky-endedauction
  - name: TOPICS__FLIP
    value: sky-topic-flip
  - name: TOPICS__FLIP_EVENT
    value: sky-flip-event
  - name: TOPICS__LOW_PRICED
    value: sky-low-priced
  - name: TOPICS__MISSING_AUCTION
    value: sky-canceledauction
  - name: TOPICS__NEW_AUCTION
    value: sky-newauction
  - name: TOPICS__SOLD_AUCTION
    value: sky-soldauction
  - name: TOPICS__SETTINGS
    value: sky-update-settings
  - name: TOPICS__TRANSACTION
    value: transactions
  - name: TOPICS__VERIFIED
    value: sky-verified

  ## a bunch of env vars every pod can have ##
  envVars:

    ## check this with ekwav ##
  - name: RATE_LIMITER_REDIS_HOST
    value: redis-service

  ## shared redis instance to sync settings between frontends ##
  - name: SETTINGS_REDIS_HOST
    value: sky-settings-redis

    ## common services ##
    ### kafka ###
  - name: KAFKA_HOST
    value: k8-main-kafka-kafka.kafka.svc.cluster.local


    ## common jaeger env vars ##
  - name: JAEGER_AGENT_HOST
    valueFrom:
      fieldRef:
        fieldPath: status.hostIP
  - name: OTEL_EXPORTER_JAEGER_AGENT_HOST
    valueFrom:
      fieldRef:
        fieldPath: status.hostIP
  


  ## base urls ##
  - name: API_BASE_URL
    value: http://sky-api:8000
  - name: BAZAAR_BASE_URL
    value: http://sky-bazaar:8000
  - name: ITEMS_BASE_URL
    value: http://sky-items:8000
  - name: MAYOR_BASE_URL
    value: http://sky-mayor:8080
  - name: PLAYERNAME_BASE_URL
    value: http://sky-player-name:8000
  - name: PLAYERNAME_URL
    value: http://sky-player-name:8000
  - name: REFERRAL_BASE_URL
    value: http://sky-referral:8000
  - name: SETTINGS_BASE_URL
    value: http://sky-settings:8000
  - name: SNIPER_BASE_URL
    value: http://sky-sniper:8000
  - name: INDEXER_BASE_URL
    value: http://sky-indexer:8000
  - name: SUBSCRIPTION_BASE_URL
    value: http://sky-subscriptions:8000
  - name: SKYFLIPPER_BASE_URL
    value: http://sky-flipper:8000
  - name: SKYCOMMANDS_BASE_URL
    value: http://sky-commands:8008
  - name: PAYMENTS_BASE_URL
    value: http://payments.payment:8000
  - name: PROFILE_BASE_URL
    value: http://sky-profiles:8000
  - name: CRAFTS_BASE_URL
    value: http://sky-crafts:8000
  - name: UPDATER_BASE_URL
    value: http://sky-updater:8000
  - name: MCCONNECT_BASE_URL
    value: http://sky-mc-connect:8000
  - name: FLIPTRACKER_BASE_URL
    value: http://sky-flip-tracker:8000
  - name: CHAT_BASE_URL
    value: http://sky-chat:8000
  - name: PROXY_BASE_URL
    value: http://sky-proxy:8000
