enabled: true
replicaCount: 3

strategy: RollingUpdate

image:
  repository: muehlhansfl/sky-mayor
  tag: a60c99d3-0803-483c-8c50-0623806256fc
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8080
  - name: metrics
    containerPort: 2112

resources:
  requests:
    cpu: 20m
    memory: 128Mi
  limits:
    memory: 256Mi

serivcePorts:
  - name: api
    port: 8080
    targetPort: 8080
  - name: metrics
    port: 2112
    targetPort: 2112

readinessProbe:
  httpGet:
    path: /mayor/current
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars:
  - name: GIN_MODE
    value: release
  - name: MONGO_URL
    valueFrom:
      secretKeyRef:
        name: secret
        key: mongo_url
