enabled: true
replicaCount: 2

strategy: RollingUpdate

image:
  repository: muehlhansfl/sky-mayor
  tag: e89580a9-baed-4a80-85ff-7b840b2a165d
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8080
  - name: metrics
    containerPort: 2112

resources:
  requests:
    cpu: 20m
    memory: 128Mi
  limits:
    memory: 256Mi

serivcePorts:
  - name: api
    port: 8080
    targetPort: 8080
  - name: metrics
    port: 2112
    targetPort: 2112

readinessProbe:
  httpGet:
    path: /mayor/current
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars:
  - name: GIN_MODE
    value: release
  - name: MONGO_URL
    valueFrom:
      secretKeyRef:
        name: secret
        key: mongo_url
  - name: CASSANDRA__HOSTS
    valueFrom:
      configMapKeyRef:
        name: scylla-config
        key: scylla_host
  - name: CASSANDRA__KEYSPACE
    value: "sky_mayor"
  - name: CASSANDRA__USER
    valueFrom:
      configMapKeyRef:
        name: scylla-config
        key: scylla_mayor_user
  - name: CASSANDRA__PASSWORD
    valueFrom:
      secretKeyRef:
        name: scylla-credentials
        key: mayor_password
  - name: CASSANDRA__X509Certificate_PATHS
    value: /tls/scylla/secret/db.pfx
  - name: CASSANDRA__X509Certificate_PASSWORD
    valueFrom:
      secretKeyRef:
        name: scylla-credentials
        key: db-pfx-password
