enabled: true
replicaCount: 0

strategy: Recreate

image:
  repository: muehlhansfl/skyindexer
  tag: 6de0653f-b5fd-41ff-bdbd-ff1090ad2a4a
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 400m
    memory: 500Mi
  limits:
    cpu: 500m
    memory: 700Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /api/index.html
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars:
  - name: DBConnection
    valueFrom:
      secretKeyRef:
        key: connection_live
        name: secret
  - name: SKYCOMMANDS_HOST
    valueFrom:
      configMapKeyRef:
        name: config
        key: commands_host
