enabled: true
replicaCount: 1

strategy: RollingUpdate
image:
  repository: muehlhansfl/skyauctions
  tag: ad4b0f3f-9e2a-446f-97b7-5aa13bceefd0
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 300m
    memory: 200Mi
  limits:
    cpu: 1000m
    memory: 1Gi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /metrics
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars:
  - name: CASSANDRA__HOSTS
    valueFrom:
      configMapKeyRef:
        name: scylla-config
        key: scylla_host
  - name: CASSANDRA__USER
    valueFrom:
      configMapKeyRef:
        name: scylla-config
        key: auctions_username
  - name: CASSANDRA__PASSWORD
    valueFrom:
      secretKeyRef:
        name: scylla-credentials
        key: auctions-password
  - name: CASSANDRA__X509Certificate_PATHS
    value: /tls/scylla/secret/db.pfx
  - name: CASSANDRA__X509Certificate_PASSWORD
    valueFrom:
      secretKeyRef:
        name: scylla-credentials
        key: db-pfx-password
  - name: DBConnection
    valueFrom:
      secretKeyRef:
        key: connection_live
        name: secret
