enabled: true
replicaCount: 1

strategy: RollingUpdate
image:
  repository: muehlhansfl/skyauctions
  tag: 2a111505-6368-4971-ac97-5e97b6462205
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 150m
    memory: 3000Mi
  limits:
    cpu: 2000m
    memory: 8000Mi # runs out of memory sometimes but not very important so kills it if it does

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /metrics
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars:
  - name: CASSANDRA__HOSTS
    valueFrom:
      configMapKeyRef:
        name: scylla-config
        key: scylla_host
  - name: CASSANDRA__USER
    valueFrom:
      configMapKeyRef:
        name: scylla-config
        key: auctions_username
  - name: CASSANDRA__PASSWORD
    valueFrom:
      secretKeyRef:
        name: scylla-credentials
        key: auctions-password
  - name: CASSANDRA__X509Certificate_PATHS
    value: /tls/scylla/secret/db.pfx
  - name: CASSANDRA__X509Certificate_PASSWORD
    valueFrom:
      secretKeyRef:
        name: scylla-credentials
        key: db-pfx-password
  - name: DBConnection
    valueFrom:
      secretKeyRef:
        key: connection_live
        name: secret
