imagePullSecrets:
  - name: harbor

replicaCount: 1

strategy: RollingUpdate
image:
  repository: muehlhansfl/leaderboard
  tag: ac45a634-267a-4f2d-8ce1-2a76f67ef29f
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources: 
  requests:
    cpu: 400m
    memory: 200Mi


serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /metrics
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars: 
  - name: CASSANDRA__HOSTS
    valueFrom:
      configMapKeyRef:
        name: scylla-config
        key: scylla_host
  - name: CASSANDRA__USER
    valueFrom:
      configMapKeyRef:
        name: scylla-config
        key: leaderboard_user
  - name: CASSANDRA__PASSWORD
    valueFrom:
      secretKeyRef:
        name: scylla-credentials
        key: leaderboard_password
  - name: CASSANDRA__X509Certificate_PATHS
    value: /tls/scylla/secret/db.pfx
  - name: CASSANDRA__X509Certificate_PASSWORD
    valueFrom:
      secretKeyRef:
        name: scylla-credentials
        key: db-pfx-password

    ## copy pasted from global sky ## 
    ### kafka ###
  - name: KAFKA_HOST
    value: k8-main-kafka-kafka.kafka.svc.cluster.local

  - name: REDIS_HOST
    value: redis


    ## common jaeger env vars ##
  - name: JAEGER_AGENT_HOST
    valueFrom:
      fieldRef:
        fieldPath: status.hostIP
  - name: OTEL_EXPORTER_JAEGER_AGENT_HOST
    valueFrom:
      fieldRef:
        fieldPath: status.hostIP
