enabled: true
replicaCount: 2

strategy: RollingUpdate
image:
  repository: muehlhansfl/skybazaar
  tag: 8edd30c5-632c-4df3-a425-0cee552d454d
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 800m
    memory: 400Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /metrics
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars:
  - name: CASSANDRA__HOSTS
    valueFrom:
      configMapKeyRef:
        name: config
        key: cassandra_host
  - name: CASSANDRA__USER
    valueFrom:
      configMapKeyRef:
        name: config
        key: cassandra_user
  - name: CASSANDRA__PASSWORD
    valueFrom:
      secretKeyRef:
        name: secret
        key: cassandra_password
