enabled: true
replicaCount: 3

strategy: RollingUpdate

image:
  repository: muehlhansfl/skysettings
  tag: 9e1d8685-08fd-48a2-8e4b-c764e9ab8ca5
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

migration:
  enabled: false

resources:
  requests:
    cpu: 200m
    memory: 400Mi
  limits:
    memory: 800Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /api/index.html
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars:
  - name: DB_CONNECTION
    valueFrom:
      secretKeyRef:
        name: secret
        key: sky_settings_database
  - name: CASSANDRA__HOSTS
    valueFrom:
      configMapKeyRef:
        name: scylla-config
        key: scylla_host
  - name: CASSANDRA__KEYSPACE
    value: "settings"
  - name: CASSANDRA__USER
    valueFrom:
      configMapKeyRef:
        name: scylla-config
        key: scylla_settings_user
  - name: CASSANDRA__PASSWORD
    valueFrom:
      secretKeyRef:
        name: scylla-credentials
        key: settings_password
  - name: CASSANDRA__X509Certificate_PATHS
    value: /tls/scylla/secret/db.pfx
  - name: CASSANDRA__X509Certificate_PASSWORD
    valueFrom:
      secretKeyRef:
        name: scylla-credentials
        key: db-pfx-password


  - name: OLD_CASSANDRA__HOSTS
    value: "38.242.247.61"
  - name: OLD_CASSANDRA__USER
    valueFrom:
      configMapKeyRef:
        name: config
        key: cassandra_user
  - name: OLD_CASSANDRA__PASSWORD
    valueFrom:
      secretKeyRef:
        name: secret
        key: cassandra_password
  - name: OLD_CASSANDRA__KEYSPACE
    value: settings
