enabled: true
image:
  repository: muehlhansfl/skyproxy
  tag: 46783b75-abda-48ea-8061-7d02e6201686
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 250m
    memory: 650Mi
  limits:
    memory: 1000Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /proxy/hypixel/status
    port: api
  initialDelaySeconds: 20
  periodSeconds: 15
  timeoutSeconds: 10

envVars:
  - name: DB_CONNECTION
    valueFrom:
      secretKeyRef:
        key: connection_cockroach_proxy_database
        name: secret
  - name: TOPICS__NEW_AUCTION
    valueFrom:
      configMapKeyRef:
        name: config
        key: topic_new_auction-raw
  - name: TOPICS__SOLD_AUCTION
    valueFrom:
      configMapKeyRef:
        name: config
        key: topic_sold_auction-raw
  - name: TOPICS__NEW_BID
    valueFrom:
      configMapKeyRef:
        name: config
        key: topic_new_bid-raw

strategy:
  type: RollingUpdate
  rollingUpdate:
    # start one new pod before terminating the old one
    maxSurge: 1
    # keep the old pod until the new pod is ready
    maxUnavailable: 0
