enabled: true
replicaCount: 3

strategy: RollingUpdate

image:
  repository: muehlhansfl/skysniper
  tag: c2e8c15c-3664-4ef5-9af7-fc401a06c512
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 800m
    memory: 5Gi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

nodeSelector:
  hetzner: "true"

readinessProbe:
  httpGet:
    path: /ready
    port: api
  initialDelaySeconds: 10
  periodSeconds: 3
  failureThreshold: 100

master:
  replicaCount: 1
  strategy: Recreate

worker:
  replicaCount: 2
  strategy: RollingUpdate

envVars:
  - name: DBConnection
    valueFrom:
      secretKeyRef:
        key: connection_read_secondary
        name: secret

  - name: DOTNET_HOSTBUILDER__RELOADCONFIGONCHANGE
    valueFrom:
      configMapKeyRef:
        key: reload_config_on_change
        name: config

  - name: JWT_SECRET
    valueFrom:
      secretKeyRef:
        key: jwt_secret_sniper
        name: secret
