replicaCount: 2

strategy: RollingUpdate

imagePullSecrets: 
  - name: harbor
image:
  repository: muehlhansfl/homepage
  tag: 1ba90fd2-9f38-4ad9-9fcc-865e9309a9b5
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 3000

resources: 
  requests:
    cpu: 10m
    memory: 20Mi


serivcePorts:
  - name: api
    port: 3000
    targetPort: 3000

readinessProbe:
  httpGet:
    path: /
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars: 
  - name: DISCORD_WEBHOOK_URL
    valueFrom:
      secretKeyRef:
        name: homepage-secret
        key: discord_webhook_url
