enabled: true
replicaCount: 2

strategy: RollingUpdate

image:
  repository: muehlhansfl/skyflipper
  tag: 8c1470a2-b0ba-49af-8aba-9328f14debc0
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 200m
    memory: 200Mi
  limits:
    cpu: 500m
    memory: 512Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /api/index.html
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars:
  - name: REDIS_HOST
    value: redis-service
  - name: DBConnection
    valueFrom:
      secretKeyRef:
        name: secret
        key: connection_read_secondary
