replicaCount: 1
strategy: RollingUpdate

image:
  repository: muehlhansfl/tfmbot
  tag: af0a5fea-f557-4e9e-ae6f-f91450f9cc85
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8081

resources: 
  requests:
    cpu: 50m
    memory: 200Mi


serivcePorts:
  - name: api
    port: 8081
    targetPort: 8081

envVars: 
  - name: MONGO_HOST
    valueFrom:
      secretKeyRef:
        name: secret
        key: mongo_host
  - name: STRIPE_PRIVATE_KEY
    valueFrom:
      secretKeyRef:
        name: secret
        key: stripe_private_key
  - name: DISCORD_TOKEN
    valueFrom:
      secretKeyRef:
        name: secret
        key: discord_token
  - name: ALLOWED_FORCE_CREDIT_IDS
    value: "267680402594988033,256771988352139264"
  - name: STAFF_CHANNEL
    value: "926516307778756678"
  - name: SUPPORT_ROLE_ID
    value: "889184675346665502"
  - name: SKY_PROXY_BASE_URL
    value: "sky-proxy.sky:8000"

ingress:
  host: sky.coflnet.com
  path: /tfm/bot
  port: 8081
