imagePullSecrets:
  - name: harbor

payments:
  name: payments
  replicaCount: 2
  maxUnavailable: 1
  image:
    repository: harbor.flou.dev/coflnet/payments
    tag: 4eda29eb-d150-4112-893c-3f9cc1e2a240
  ports:
    - name: api
      containerPort: 8000
  
  serivcePorts:
    - name: api
      port: 8000
      targetPort: 8000
  
  readinessProbe:
    httpGet:
      path: /api/index.html
      port: api
    initialDelaySeconds: 20
    periodSeconds: 3

  resources: 
    requests:
      cpu: 500m
      memory: 1Gi
    limits: 
      cpu: 1000m
      memory: 2Gi

  envVars:
    - name: JAEGER_AGENT_HOST
      valueFrom:
        fieldRef:
          fieldPath: status.hostIP

    - name: OTEL_EXPORTER_JAEGER_AGENT_HOST
      valueFrom:
        fieldRef:
          fieldPath: status.hostIP
  
    - name: STRIPE__ID
      valueFrom:
        secretKeyRef: 
          name: secret
          key: stripe_secret

    - name: STRIPE__KEY
      valueFrom:
        secretKeyRef:
          name: secret
          key: stripe_key
  
    - name: STRIPE__SIGNING_SECRET
      valueFrom:
        secretKeyRef: 
          name: secret
          key: stripe_signing_secret
  
    - name: PAYPAL__ID
      valueFrom:
        secretKeyRef: 
          name: secret
          key: paypal_id

    - name: PAYPAL__SECRET
      valueFrom:
        secretKeyRef: 
          name: secret
          key: paypal_secret

    - name: PAYPAL__IS_SANDBOX
      value: "false"
  
    - name: KAFKA_HOST
      value: k8-main-kafka-kafka.kafka.svc.cluster.local

    - name: DB_CONNECTION
      valueFrom:
        secretKeyRef:
          name: secret
          key: connection_string_payment

ingress:
  hosts:
  - host: sky.coflnet.com
    http:
      paths:
      - path: /callback/stripe
        pathType: ImplementationSpecific
        backend:
          service: 
            name: payment
            port:
              number: 80
      - path: /callback/paypal
        pathType: ImplementationSpecific
        backend:
          service: 
            name: payment
            port:
              number: 80
  - host: skyblock-backend.coflnet.com
    http:
      paths:
      - path: /callback/stripe
        pathType: ImplementationSpecific
        backend:
          service:
            name: payment
            port:
              number: 80
      - path: /callback/paypal
        pathType: ImplementationSpecific
        backend:
          service: 
            name: payment
            port:
              number: 80



products: |
  {
    "products": [
      {
          "slug": "premium",
          "title": "Premium",
          "description": "Premium plan granting various perks",
          "cost": 1800,
          "ownershipSeconds": 2592000,
          "type": "SERVICE"
      },
      {
          "slug": "premium-day",
          "title": "Premium (day)",
          "description": "Premium plan granting various perks for one day",
          "cost": 300,
          "ownershipSeconds": 86400,
          "type": "SERVICE"
      },
      {
          "slug": "premium-derpy",
          "title": "Premium (Derpy time)",
          "description": "Premium time to compensate for derpy",
          "cost": 400,
          "ownershipSeconds": 432000,
          "type": "SERVICE"
      },
      {
          "slug": "premium_plus",
          "title": "Premium+",
          "description": "Premium Plus plan granting top tier perks",
          "cost": 1800,
          "ownershipSeconds": 604800,
          "type": "SERVICE"
      },
      {
          "slug": "premium_plus-day",
          "title": "Premium+ (day)",
          "description": "Premium Plus plan granting top tier perks for a day",
          "cost": 600,
          "ownershipSeconds": 86400,
          "type": "SERVICE"
      },
      {
          "slug": "premium_plus-hour",
          "title": "Premium+ (hour)",
          "description": "Premium Plus plan granting top tier perks for an hour",
          "cost": 200,
          "ownershipSeconds": 3600,
          "type": "SERVICE"
      },
      {
          "slug": "starter_premium",
          "title": "Basic plan",
          "description": "Access to basic perks",
          "cost": 1800,
          "ownershipSeconds": 15552000,
          "type": "SERVICE"
      },
      {
          "slug": "starter_premium-day",
          "title": "Basic plan (day)",
          "description": "Access to basic perks for 24 hours",
          "cost": 24,
          "ownershipSeconds": 86400,
          "type": "SERVICE"
      },
      {
          "slug": "starter_premium-week",
          "title": "Basic plan (week)",
          "description": "Access to basic perks for one week",
          "cost": 120,
          "ownershipSeconds": 604800,
          "type": "SERVICE"
      },
      {
          "slug": "test-premium",
          "title": "Test Premium for invited user",
          "cost": 100,
          "type": "SERVICE",
          "ownershipSeconds": 86400
      }
    ],
    "topups": [
      {
        "slug": "s_cc_1800",
        "title": "1.800 CoflCoins",
        "cost": 1800,
        "price": 6.69,
        "currencyCode": "eur",
        "ProviderSlug": "stripe",
        "type": 4
      },
      {
        "slug": "s_cc_5400",
        "title": "5.400 CoflCoins",
        "cost": 5400,
        "price": 19.69,
        "currencyCode": "eur",
        "ProviderSlug": "stripe",
        "type": 4
      },
      {
        "slug": "s_cc_10800",
        "title": "10.800 CoflCoins",
        "cost": 10800,
        "price": 38.99,
        "currencyCode": "eur",
        "ProviderSlug": "stripe",
        "type": 4
      },
      {
        "slug": "s_cc_21600",
        "title": "21.600 CoflCoins",
        "cost": 21600,
        "price": 74.99,
        "currencyCode": "eur",
        "ProviderSlug": "stripe",
        "type": 4
      },
      {
        "slug": "p_cc_1800",
        "title": "1.800 CoflCoins",
        "cost": 1800,
        "price": 6.99,
        "currencyCode": "eur",
        "ProviderSlug": "paypal",
        "type": 4
      },
      {
        "slug": "p_cc_5400",
        "title": "5.400 CoflCoins",
        "cost": 5400,
        "price": 19.99,
        "currencyCode": "eur",
        "ProviderSlug": "paypal",
        "type": 4
      },
      {
        "slug": "p_cc_10800",
        "title": "10.800 CoflCoins",
        "cost": 10800,
        "price": 39.69,
        "currencyCode": "eur",
        "ProviderSlug": "paypal",
        "type": 4
      },
      {
        "slug": "p_cc_21600",
        "title": "21.600 CoflCoins",
        "cost": 21600,
        "price": 78.69,
        "currencyCode": "eur",
        "ProviderSlug": "paypal",
        "type": 4
      },
      {
        "slug": "verify_mc",
        "title": "Bonus for the MC verification",
        "cost": 100,
        "ProviderSlug": "custom",
        "type": 4
      },
      {
        "slug": "referal_bonus",
        "title": "Bonus if a refered user purchased premium",
        "cost": 4320,
        "ProviderSlug": "custom",
        "type": 36
      },
      {
        "slug": "compensation",
        "title": "Compensation for service unavailibility",
        "cost": 4320,
        "ProviderSlug": "custom",
        "type": 36
      }
    ],
    "groups": {
      "premium": [
          "test-premium",
          "premium-day",
          "premium_plus",
          "premium_plus-day",
          "premium_plus-hour",
          "premium-derpy"
      ],
      "starter_premium": [
          "premium",
          "premium-day",
          "premium_plus",
          "premium_plus-day",
          "premium_plus-hour",
          "starter_premium-day",
          "starter_premium-week"
      ],
      "premium_plus": [
          "premium_plus-day",
          "premium_plus-hour"
      ]
    },
    "rules": [
      {
        "slug": "starter-premium-discount",
        "priority": 5,
        "requiresGroup": "starter_premium",
        "targetsGroup": "starter_premium-week",
        "flags": "DISCOUNT, PERCENT",
        "amount": 10
      }
    ]
  }
