replicaCount: 1

strategy: RollingUpdate

image:
  repository: harbor.flou.dev/coflnet/discord-bot-node
  tag: fbe65356-f4b6-4b42-8a6f-0dd1a0004b94
  pullPolicy: IfNotPresent

resources: 
  requests:
    cpu: 40m
    memory: 50Mi
  limits: 
    cpu: 150m
    memory: 256Mi


envVars: 
  - name: TOKEN
    valueFrom:
      secretKeyRef:
        name: secret
        key: token
  - name: CHANNEL_ID_BUGREPORT
    valueFrom:
      configMapKeyRef:
        name: config
        key: live_channel_id_bugreport
  - name: CHANNEL_ID_SUGGESTIONS
    valueFrom:
      configMapKeyRef:
        name: config
        key: live_channel_id_suggestion
  - name: CHANNEL_ID_SUPPORT
    valueFrom:
      configMapKeyRef:
        name: config
        key: live_channel_id_support
  - name: CLIENT_ID
    valueFrom:
      configMapKeyRef:
        name: config
        key: client_id
  - name: GUILD_ID
    valueFrom:
      configMapKeyRef:
        name: config
        key: discord_guild
  - name: CHANNEL_ID_BOT_COMMANDS
    valueFrom:
      configMapKeyRef:
        key: channel_id_bot_commands
        name: config
  - name: API_ENDPOINT
    value: http://sky-api.sky:8000/api
  - name: API_KEY
    valueFrom:
      secretKeyRef:
        key: hypixel_api_key
        name: secret
