replicaCount: 2

strategy: RollingUpdate

imagePullSecrets: 
  - name: harbor
image:
  repository: muehlhansfl/landingpage
  tag: a6df6073-d41f-47b5-9589-8c07de41a5bc
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8080

resources: 
  requests:
    cpu: 10m
    memory: 20Mi


serivcePorts:
  - name: api
    port: 8080
    targetPort: 8080

readinessProbe:
  httpGet:
    path: /
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars:
  - name: EMPTY
    value: "env"
