replicaCount: 2

strategy: RollingUpdate

imagePullSecrets: 
  - name: harbor
image:
  repository: muehlhansfl/landingpage
  tag: 77be8d7c-e017-48d7-8a97-33dfa76c9899
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8080

resources: 
  requests:
    cpu: 10m
    memory: 20Mi


serivcePorts:
  - name: api
    port: 8080
    targetPort: 8080

readinessProbe:
  httpGet:
    path: /
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars:
  - name: EMPTY
    value: "env"
