replicaCount: 2

strategy: RollingUpdate

imagePullSecrets: 
  - name: harbor
image:
  repository: muehlhansfl/landingpage
  tag: ed3b413a-f467-49f6-81c0-396f17e9a4a7
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8080

resources: 
  requests:
    cpu: 10m
    memory: 20Mi


serivcePorts:
  - name: api
    port: 8080
    targetPort: 8080

readinessProbe:
  httpGet:
    path: /
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars:
  - name: EMPTY
    value: "env"
