apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.global.redis.name }}
  labels:
    app: {{ .Values.global.redis.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.global.redis.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.global.redis.name }}
    spec:
      {{ toYaml .Values.global.hetznerAffinity | nindent 6 }}
      containers:
      - name: {{ .Values.global.redis.name }}
        image: redis:7.0.5
        ports:
        - containerPort: 6379
        resources:
          {{ toYaml .Values.resources | nindent 10 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.global.redis.name }}
spec:
  selector:
    app: {{ .Values.global.redis.name }}
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
