replicaCount: 1

strategy: RollingUpdate

image:
  repository: muehlhansfl/tfmaveragesgenerator
  tag: a455c75c-d864-4143-9e32-aa118dd53bde
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources: 
  requests:
    cpu: 200m
    memory: 512Mi
  limits: 
    cpu: 500m
    memory: 1Gi


serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

envVars: 
  - name: MONGO_HOST
    valueFrom:
      secretKeyRef:
        name: secret
        key: mongo_host
