replicaCount: 2

strategy: RollingUpdate

image:
  repository: harbor.flou.dev/coflnet/skycrafts
  tag: e8ce11eb-58ee-40a7-8ad4-dad8f72f915b
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources: 
  requests:
    cpu: 140m
    memory: 200Mi
  limits: 
    memory: 512Mi


serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /crafts/ready
    port: api
  initialDelaySeconds: 120
  periodSeconds: 5

