enabled: true
replicaCount: 2

strategy: RollingUpdate

image:
  repository: muehlhansfl/skycrafts
  tag: 5f6eb41a-39f0-4805-910e-ec4dea74b6c9
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 200m
    memory: 200Mi
  limits:
    memory: 512Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /crafts/ready
    port: api
  initialDelaySeconds: 120
  periodSeconds: 5
