replicaCount: 1
strategy: RollingUpdate

image:
  repository: muehlhansfl/tfmstripepaymenthandler
  tag: 9359db74-f142-4a9d-be38-8a443a4ed495
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 9618

resources: 
  requests:
    cpu: 50m
    memory: 200Mi


serivcePorts:
  - name: api
    port: 9618
    targetPort: 9618

envVars: 
  - name: MONGO_HOST
    valueFrom:
      secretKeyRef:
        name: secret
        key: mongo_host
  - name: STRIPE_PRIVATE_KEY
    valueFrom:
      secretKeyRef:
        name: secret
        key: stripe_private_key

ingress:
  host: sky.coflnet.com
  path: /tfm/payment-handler
  port: 9618
