{{ if .Values.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-redis
  labels:
    app: {{ .Chart.Name }}-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Chart.Name }}-redis
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}-redis
    spec:
      containers:
      - name: {{ .Chart.Name }}-redis
        image: redis:7.0.5
        ports:
        - containerPort: 6379
        resources:
          limits: 
            memory: "400Mi"
            cpu: "200m"
          requests:
            memory: "400Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}-redis
spec:
  selector:
    app: {{ .Chart.Name }}-redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
{{ end }}
