enabled: true
replicaCount: 5

strategy: RollingUpdate

image:
  repository: muehlhansfl/skyupdater
  tag: 463d3fc7-6790-4518-b5e0-c16cbb530947
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 1000m
    memory: 1Gi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /api/index.html
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

livenessProbe:
  httpGet:
    path: /api/index.html
    port: api
  initialDelaySeconds: 120
  periodSeconds: 10
  failureThreshold: 30

envVars:
  - name: SLOWDOWN_MS
    value: "100"
  - name: apiKey
    valueFrom:
      secretKeyRef:
        key: api
        name: secret
  - name: API_KEY
    valueFrom:
      secretKeyRef:
        name: secret
        key: flou_api_key
  ## TODO split into global env vars ##
  - name: TOPICS__MISSING_AUCTION
    valueFrom:
      configMapKeyRef:
        name: config
        key: topic_missing_auction-raw
  - name: TOPICS__SOLD_AUCTION
    valueFrom:
      configMapKeyRef:
        name: config
        key: topic_sold_auction-raw
  - name: TOPICS__NEW_AUCTION
    valueFrom:
      configMapKeyRef:
        name: config
        key: topic_new_auction-raw
  - name: TOPICS__AUCTION_ENDED
    valueFrom:
      configMapKeyRef:
        name: config
        key: topic_auction_ended-raw
  - name: TOPICS__NEW_BID
    valueFrom:
      configMapKeyRef:
        name: config
        key: topic_new_bid-raw
  - name: TOPICS__BAZAAR
    valueFrom:
      configMapKeyRef:
        name: config
        key: topic_bazaar-raw
  - name: TOPICS__AUCTION_CHECK
    valueFrom:
      configMapKeyRef:
        name: config
        key: topic_auction_checked
  - name: DOTNET_HOSTBUILDER__RELOADCONFIGONCHANGE
    valueFrom:
      configMapKeyRef:
        key: reload_config_on_change
        name: config
