enabled: true
replicaCount: 1

strategy: RollingUpdate

image:
  repository: muehlhansfl/skychat
  tag: 3d5fa5f7-a1a8-45a2-a1e5-2c0c7df161ab
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 100m
    memory: 300Mi
  limits:
    cpu: 250m
    memory: 500Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /api/index.html
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars:
  - name: DB_CONNECTION
    valueFrom:
      secretKeyRef:
        name: secret
        key: connection_chat_database
  - name: REDIS_HOST
    value: sky-settings-redis
