enabled: true
replicaCount: 1

strategy: RollingUpdate

image:
  repository: muehlhansfl/skyeventbroker
  tag: 9d3530f1-4678-4ca8-83da-a39a2ac2cc3d
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 200m
    memory: 100Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /api/index.html
    port: api
  initialDelaySeconds: 20
  periodSeconds: 3

envVars:
  - name: DB_CONNECTION
    valueFrom:
      secretKeyRef:
        name: secret
        key: connection_eventmessages_database

  - name: COCKROACH_DB_CONNECTION
    valueFrom:
      secretKeyRef:
        key: connection_cockroach_event_database
        name: secret

  - name: TOPICS__VERIFIED
    valueFrom:
      configMapKeyRef:
        name: config
        key: topic_verified

  - name: TOPICS__TRANSACTIONS
    valueFrom:
      configMapKeyRef:
        name: config
        key: topic_transaction
  - name: FIREBASE_SENDER_ID
    valueFrom:
      secretKeyRef:
        name: secret
        key: firebase_sender_id
  - name: FIREBASE_KEY
    valueFrom:
      secretKeyRef:
        name: secret
        key: firebase_key
