enabled: true
replicaCount: 5

strategy: RollingUpdate

image:
  repository: muehlhansfl/skyfliptracker
  tag: 825730aa-3c50-4a1e-bd59-06a886fef434
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 120m
    memory: 350Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /api/index.html
    port: api
  initialDelaySeconds: 12
  periodSeconds: 3

envVars:
  - name: DB_CONNECTION
    valueFrom:
      secretKeyRef:
        name: secret
        key: connection_tracker_database
  - name: CASSANDRA__HOSTS
    valueFrom:
      configMapKeyRef:
        name: config
        key: cassandra_host
  - name: CASSANDRA__USER
    value: "cassandra"
  - name: CASSANDRA__PASSWORD
    valueFrom:
      secretKeyRef:
        name: secret
        key: cassandra_password
