enabled: true
replicaCount: 2

migration:
  enabled: false

strategy: RollingUpdate

image:
  repository: muehlhansfl/skyfliptracker
  tag: 0c1c46c1-68b0-487d-9e40-af282838abee
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 150m
    memory: 350Mi
  limits:
    cpu: 800m
    memory: 800Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /api/index.html
    port: api
  initialDelaySeconds: 15
  periodSeconds: 3
livenessProbe:
  httpGet:
    path: /api/index.html
    port: api
  initialDelaySeconds: 150
  periodSeconds: 6
  failureThreshold: 10
  successThreshold: 1

envVars:
  - name: REDIS_HOST
    value: "sky-global-redis"
  - name: DB_CONNECTION
    valueFrom:
      secretKeyRef:
        name: secret
        key: connection_tracker_database
  - name: CASSANDRA__HOSTS
    valueFrom:
      configMapKeyRef:
        name: scylla-config
        key: scylla_host
  - name: CASSANDRA__USER
    valueFrom:
      configMapKeyRef:
        name: scylla-config
        key: tracker_user
  - name: CASSANDRA__PASSWORD
    valueFrom:
      secretKeyRef:
        name: scylla-credentials
        key: tracker_password
  - name: CASSANDRA__X509Certificate_PATHS
    value: /tls/scylla/secret/db.pfx
  - name: CASSANDRA__X509Certificate_PASSWORD
    valueFrom:
      secretKeyRef:
        name: scylla-credentials
        key: db-pfx-password
  - name: CASSANDRA__KEYSPACE
    value: "flips"
  - name: UNFOUND_FLIP_WEBHOOK
    valueFrom:
      secretKeyRef:
        name: secret
        key: unfound_flip_webhook

migrationEnvVars:
  # new scylla configuration
  - name: REDIS_HOST
    value: "sky-global-redis"
  - name: CASSANDRA__HOSTS
    valueFrom:
      configMapKeyRef:
        name: scylla-config
        key: scylla_host
  - name: CASSANDRA__USER
    valueFrom:
      configMapKeyRef:
        name: scylla-config
        key: tracker_user
  - name: CASSANDRA__PASSWORD
    valueFrom:
      secretKeyRef:
        name: scylla-credentials
        key: tracker_password
  - name: CASSANDRA__X509Certificate_PATHS
    value: /tls/scylla/secret/db.pfx
  - name: CASSANDRA__X509Certificate_PASSWORD
    valueFrom:
      secretKeyRef:
        name: scylla-credentials
        key: db-pfx-password
  - name: CASSANDRA__KEYSPACE
    value: "flips"

  # old cassandra configuration
  - name: OLD_CASSANDRA__HOSTS
    valueFrom:
      configMapKeyRef:
        name: config
        key: cassandra_host
  - name: OLD_CASSANDRA__USER
    valueFrom:
      configMapKeyRef:
        name: config
        key: cassandra_user
  - name: OLD_CASSANDRA__PASSWORD
    valueFrom:
      secretKeyRef:
        name: secret
        key: cassandra_password
  - name: OLD_CASSANDRA__KEYSPACE
    value: "flips"


