replicaCount: 1

strategy: RollingUpdate

image:
  repository: muehlhansfl/tfmchatmicroservice
  tag: 0bd966ee-0ed6-4493-9188-d80a7f8f7750
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 7181

resources: 
  requests:
    cpu: 200m
    memory: 512Mi


serivcePorts:
  - name: api
    port: 7181
    targetPort: 7181

envVars: 
  - name: MONGO_HOST
    valueFrom:
      secretKeyRef:
        name: secret
        key: mongo_host

ingress:
  secure:
    host: sky.coflnet.com
    path: /tfm/chat
    port: 7181
  insecure:
    host: sky-mod.coflnet.com
    path: /tfm/chat
    port: 7181
