enabled: true
defaultEnvVarsEnabled: true
replicaCount: 1

strategy: RollingUpdate

image:
  repository: muehlhansfl/skybfcs
  tag: da578b37-8516-4f63-bc60-7676d96aedd6
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000
  - name: websocket
    containerPort: 8888

resources:
  requests:
    cpu: 1400m
    memory: 3Gi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000
  - name: websocket
    port: 8888
    targetPort: 8888

readinessProbe:
  httpGet:
    path: /ready
    port: api
  initialDelaySeconds: 10
  periodSeconds: 3
  failureThreshold: 100

envVars:
  - name: SNIPER_TRANSFER_TOKEN
    valueFrom:
      secretKeyRef:
        name: sniper-transfer-token
        key: sniper_transfer_token

metrics:
  enabled: true

ingress:
  enabled: false
