enabled: true
defaultEnvVarsEnabled: true
replicaCount: 1

strategy: RollingUpdate

image:
  repository: muehlhansfl/skybfcs
  tag: 3e20958a-1ccf-4cc7-871d-e67ec36d92da
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000
  - name: websocket
    containerPort: 8888

resources:
  requests:
    cpu: 1400m
    memory: 3Gi
  limits:
    memory: 9Gi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000
  - name: websocket
    port: 8888
    targetPort: 8888

readinessProbe:
  httpGet:
    path: /ready
    port: api
  initialDelaySeconds: 10
  periodSeconds: 3
  failureThreshold: 10
livenessProbe:
  httpGet:
    path: /ready
    port: api
  initialDelaySeconds: 600
  periodSeconds: 5
  failureThreshold: 40
  timeoutSeconds: 2

envVars:
  - name: SNIPER_TRANSFER_TOKEN
    valueFrom:
      secretKeyRef:
        name: sniper-transfer-token
        key: sniper_transfer_token
  - name: SLOWDOWN_MS
    value: "200"

metrics:
  enabled: true

ingress:
  enabled: false


redis:
  enabled: true

externalMinio: false
