apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Chart.Name }}
  labels:
    app: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  serviceName: {{ .Chart.Name }}
  updateStrategy:
    type: {{ .Values.strategy }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      imagePullSecrets:
      {{ toYaml .Values.global.imagePullSecrets | nindent 8 }}
      containers:
      - name: {{ .Chart.Name }}
        image: {{ .Values.image.repository }}:{{ .Values.image.tag  }}
        ports:
           {{ toYaml .Values.ports | nindent 10 }}
        env:
          - name: REDIS_HOST
            value: "{{ .Values.global.redis.name }},syncTimeout=200"
          {{ if .Values.envVars }}
          {{ toYaml .Values.envVars | nindent 10 }}
          {{ end }}
          {{ toYaml .Values.global.envVars | nindent 10 }}
          {{ toYaml .Values.global.minioEnvVars | nindent 10 }}
        readinessProbe:
          {{ toYaml .Values.readinessProbe | nindent 10 }}
        resources:
          {{ toYaml .Values.resources | nindent 10 }}
