enabled: true
replicaCount: 2

strategy: RollingUpdate

image:
  repository: muehlhansfl/skyprofiles
  tag: 62a4edee-e48f-490d-83d0-237f63032174
  pullPolicy: IfNotPresent

ports:
  - name: api
    containerPort: 8000

resources:
  requests:
    cpu: 200m
    memory: 200Mi
  limits:
    cpu: 500m
    memory: 512Mi

serivcePorts:
  - name: api
    port: 8000
    targetPort: 8000

readinessProbe:
  httpGet:
    path: /api/profile/index.html
    port: api
  initialDelaySeconds: 20

envVars:
  - name: CASSANDRA__HOSTS
    valueFrom:
      configMapKeyRef:
        name: scylla-config
        key: scylla_host
  - name: CASSANDRA__USER
    valueFrom:
      configMapKeyRef:
        name: config
        key: sky_profile_cassandra_user
  - name: CASSANDRA__PASSWORD
    valueFrom:
      secretKeyRef:
        name: secret
        key: sky_profile_cassandra_password
  - name: CASSANDRA__KEYSPACE
    value: sky_player_info
  - name: CASSANDRA__X509Certificate_PATHS
    value: /tls/scylla/secret/db.pfx
  - name: CASSANDRA__X509Certificate_PASSWORD
    valueFrom:
      secretKeyRef:
        name: scylla-credentials
        key: db-pfx-password

# Additional volumes on the output Deployment definition.
volumes:
  - name: scylla-pfx
    secret:
      secretName: scylla-pfx
      items:
        - key: db.pfx
          path: db.pfx

# Additional volumeMounts on the output Deployment definition.
volumeMounts:
  - name: scylla-pfx
    mountPath: /tls/scylla/secret/db.pfx
    subPath: db.pfx
